body{background-color: #000000;}
h1{color: #ff00ff;
background-color: #f0f8ff;
font-size: 150px; 
font-weight: 400;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
text-align: center;}